<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="NewsAI is a news intelligence platform for public relations professionals to streamline the process of monitoring news, finding influencers, and building media lists for their clients.">
    <meta name="keywords" content="Public Relations, News Intelligence, News, Artificial Intelligence, News Artificial Intelligence">
    <meta name="author" content="NewsAI">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <meta property="og:url" content="https://newsai.org/" />
    <meta property="og:title" content="NewsAI" />
    <meta property="og:description" content="NewsAI is a news intelligence platform for public relations professionals to streamline the process of monitoring news, finding influencers, and building media lists for their clients. " />

    <title>NewsAI | News Intelligence tools for public relations professionals</title>

    <link rel="icon" href="/images/favicon.ico">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.png">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/elegant-icons/style.css">
    <link rel="stylesheet" href="/assets/app-icons/styles.css">

    <link href='http://fonts.googleapis.com/css?family=Roboto:100,300,100italic,400,300italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/newsai.css">
    <link rel="stylesheet" href="/css/responsive.css">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/ur8dbk9e';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>
</head>

<body>
    <section class="features grey-bg" id="features">
        <div class="section-header">
            <h2 class="dark-text">Signing up!</h2>
            <p>Thanks so much for signing up! We'll email you very soon.</p>
        </div>
        <div class="container">
        </div>
    </section>
    <footer>
        <div class="container">
            <br>
            <a href="mailto:hello@newsai.org">Contact us</a> | <a href="privacy.html">Privacy Policy</a>
            <ul class="social-icons">
                <li><a href="https://www.facebook.com/newsaiorg"><i class="social_facebook_square"></i></a></li>
                <li><a href="https://twitter.com/newsaiorg"><i class="social_twitter_square"></i></a></li>
                <li><a href="https://medium.com/@newsai"><i class="social_blogger_square"></i></a></li>
                <li><a href="https://www.linkedin.com/company/newsai"><i class="social_linkedin_square"></i></a></li>
            </ul>
        </div>  
    </footer>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/newsai.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-77059806-1', 'auto');
      ga('send', 'pageview');
    </script>
</body>
</html>