<footer class="site-footer">
    <div class="container">
        <nav>
            <a href="/">Home</a> &middot;
            <a href="/blog">Blog</a> &middot;
        </nav>
        
        <nav class="social">
            <a href="https://www.twitter.com/newsaiorg" title="Follow on Twitter" target="_blank"><i class="icon icon-twitter black"></i></a>
            <a href="https://www.facebook.com/newsaiorg" title="Follow on Facebook" target="_blank"><i class="icon icon-facebook black"></i></a>   
            <a href="/blog/index.xml" title="RSS Feed">
                <i class="icon icon-rss black"></i>
            </a>
        </nav>
    </div>
</footer>
{{ partial "_scripts.html" . }}
</body>
</html>
