<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta itemprop="name" content="{{ .Title }} - NewsAI"/>
    <meta itemprop="description" content="{{ .Description }}"/>
    <meta itemprop="url" content="{{ .Permalink }}"/>

    <meta name="description" content="{{ .Description }}">
    <meta name="keywords" content="Public Relations, News Intelligence, News, Artificial Intelligence, News Artificial Intelligence">
    <meta name="author" content="{{ .Params.author_name }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <meta property="og:type" content="article"/>
    <meta property="og:locale" content="en_US"/>
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:title" content="{{ .Title }} - NewsAI" />
    <meta property="og:description" content="{{ .Description }}" />

    <meta name="twitter:domain" content="www.newsai.co"/>
    <meta name="twitter:title" content="{{ .Title }} - NewsAI"/>
    <meta name="twitter:description" content="{{ .Description }}"/>
    <meta name="twitter:creator" content="@{{ .Params.author_twitter }}"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:image" content="{{ .Params.author_main_image }}"/>

    <noscript itemprop="author" itemscope itemtype="http://schema.org/Person">
        <meta itemprop="url" content="{{ .Params.author_website }}"/>
        <meta itemprop="name" content="{{ .Params.author_name }}"/>
        <meta itemprop="description" content="{{ .Params.author_description }}"/>
    </noscript>

    <link rel="alternate" type="application/rss+xml" title="NewsAI Blog Feed" href="https://www.newsai.co/blog/index.xml" />

    <title>NewsAI blog - {{ .Title }}</title>

    <link rel="icon" href="https://www.newsai.co/images/favicon.ico">
    <link rel="apple-touch-icon" href="https://www.newsai.co/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="https://www.newsai.co/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="https://www.newsai.co/images/apple-touch-icon-114x114.png">

    <link rel="stylesheet" href="https://www.newsai.co/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.newsai.co/assets/elegant-icons/style.css">
    <link rel="stylesheet" href="https://www.newsai.co/assets/app-icons/styles.css">

    <link href='//fonts.googleapis.com/css?family=Roboto:100,300,100italic,400,300italic' rel='stylesheet' type='text/css'>
    <!-- <link rel="stylesheet" href="https://www.newsai.co/css/styles.css"> -->
    <!-- <link rel="stylesheet" href="https://www.newsai.co/css/newsai.css"> -->
    <!-- <link rel="stylesheet" href="https://www.newsai.co/css/responsive.css"> -->

    <link rel="stylesheet" href="/blog/css/main.css">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/ur8dbk9e';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>
</head>
    
<section class="site-nav">
    <header>
        <nav id="navigation">
            <a href="/" class="home">Home</a>
            <a href="/blog" class="home">Blog</a>
        </nav>
        <nav class="tagline">
            {{ with .Site.Params.inc.tagline }}<span>{{ . }}</span>{{ end }}
            {{ with .Site.Params.inc.product_link }}<a href="{{ . }}" class="btn btn-outline">Learn More</a>{{ end }}
        </nav>
    </header>
</section>
