<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta itemprop="name" content="{{ .Title }} - NewsAI"/>
    <meta itemprop="description" content="{{ .Description }}"/>
    <meta itemprop="url" content="{{ .Permalink }}"/>

    <meta name="description" content="{{ .Description }}">
    <meta name="keywords" content="{{ .Params.seo_tags }}public relations, media list, media list management, influencer marketing, influencer, Public Relations Tools, Media List Management, Media Lists, Media list, News Intelligence, News, PR software, media intelligence, Media list building, Public Relations toolkit, Media list services, Media list template, PR CRM, Public Relations CRM">
    <meta name="author" content="{{ .Params.author_name }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <meta property="og:type" content="article"/>
    <meta property="og:locale" content="en_US"/>
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:title" content="{{ .Title }} - NewsAI" />
    <meta property="og:description" content="{{ .Description }}" />

    <meta name="twitter:domain" content="www.newsai.co"/>
    <meta name="twitter:title" content="{{ .Title }} - NewsAI"/>
    <meta name="twitter:description" content="{{ .Description }}"/>
    <meta name="twitter:creator" content="@{{ .Params.author_twitter }}"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:image" content="{{ .Params.author_main_image }}"/>

    <noscript itemprop="author" itemscope itemtype="http://schema.org/Person">
        <meta itemprop="url" content="{{ .Params.author_website }}"/>
        <meta itemprop="name" content="{{ .Params.author_name }}"/>
        <meta itemprop="description" content="{{ .Params.author_description }}"/>
    </noscript>

    <link rel="alternate" type="application/rss+xml" title="NewsAI Blog Feed" href="https://www.newsai.co/blog/feed" />

    <title>{{ .Title }} - NewsAI blog</title>

    <link rel="icon" href="https://www.newsai.co/images/favicon.ico">
    <link rel="apple-touch-icon" href="https://www.newsai.co/images/apple-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="https://www.newsai.co/images/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="https://www.newsai.co/images/apple-icon-114x114.png">

    <link rel="stylesheet" href="https://www.newsai.co/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.newsai.co/assets/elegant-icons/style.css">
    <link rel="stylesheet" href="https://www.newsai.co/assets/app-icons/styles.css">

    <link href='//fonts.googleapis.com/css?family=Roboto:100,300,100italic,400,300italic' rel='stylesheet' type='text/css'>
    <!-- <link rel="stylesheet" href="https://www.newsai.co/css/styles.css"> -->
    <!-- <link rel="stylesheet" href="https://www.newsai.co/css/newsai.css"> -->
    <!-- <link rel="stylesheet" href="https://www.newsai.co/css/responsive.css"> -->

    <link rel="stylesheet" href="/css/main.css">
</head>
    
<section class="site-nav">
    <header>
        <nav id="navigation">
            <a href="../../" class="home">Home</a>
            <a href="/" class="home">Blog</a>
        </nav>
        <nav class="tagline">
            {{ with .Site.Params.inc.tagline }}<span>{{ . }}</span>{{ end }}
            {{ with .Site.Params.inc.product_link }}<a href="{{ . }}" class="btn btn-outline">Learn More</a>{{ end }}
            <!-- Calendly link widget begin -->
            <link href="https://calendly.com/assets/external/widget.css" rel="stylesheet">
            <script src="https://calendly.com/assets/external/widget.js" type="text/javascript"></script>
            <a href="" onclick="Calendly.showPopupWidget('https://calendly.com/newsai-abhi');return false;">Get a demo!</a>
            <!-- Calendly link widget end -->
        </nav>
    </header>
</section>
