<!doctype html>
<html lang="en">
<head>
    <link rel="canonical" href="https://www.newsai.co/blog" />

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="The latest tips and tricks on how to optimize your PR workflow. NewsAI is a PR CRM that allows you to derive more value from your media lists.">
    <meta name="keywords" content="public relations, media list, media list management, influencer marketing, influencer, Public Relations Tools, Media List Management, Media Lists, Media list, News Intelligence, News, PR software, media intelligence, Media list building, Public Relations toolkit, Media list services, Media list template, PR CRM, Public Relations CRM">
    <meta name="author" content="NewsAI">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <meta name="robots" content="index, follow" />

    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.newsai.co/blog" />
    <meta property="og:title" content="NewsAI blog" />
    <meta property="og:site_name" content="NewsAI" />
    <meta property="og:description" content="The latest tips and tricks on how to optimize your PR workflow. We allow you to derive more value from your media lists." />
    <meta property="og:image" content="//storage.googleapis.com/newsai-main-site/newsai.png" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@newsaihq">
    <meta name="twitter:title" content="Derive more value from your media lists. Our PR CRM is the best way to know what the influencers in your media lists are posting online." />
    <meta name="twitter:image" content="//storage.googleapis.com/newsai-main-site/people-office-group-team-min.jpg" />

    <title>NewsAI blog - latest tips and tricks on public relations</title>

    <link rel="icon" href="https://www.newsai.co/images/favicon.ico">
    <link rel="apple-touch-icon" href="https://www.newsai.co/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="https://www.newsai.co/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="https://www.newsai.co/images/apple-touch-icon-114x114.png">

    <link rel="stylesheet" href="https://www.newsai.co/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.newsai.co/assets/elegant-icons/style.css">
    <link rel="stylesheet" href="https://www.newsai.co/assets/app-icons/styles.css">

    <link href='//fonts.googleapis.com/css?family=Roboto:100,300,100italic,400,300italic' rel='stylesheet' type='text/css'>
    
    <!-- <link rel="stylesheet" href="https://www.newsai.co/css/styles.css"> -->
    <!-- <link rel="stylesheet" href="https://www.newsai.co/css/newsai.css"> -->
    <!-- <link rel="stylesheet" href="https://www.newsai.co/css/responsive.css"> -->

    <link rel="stylesheet" href="/css/main.css">

    <link rel="alternate" type="application/rss+xml" title="NewsAI Blog Feed" href="https://www.newsai.co/blog/feed" />
</head>
    
<section class="site-nav">
    <header>
        <nav id="navigation">
            <a href="../" class="home">Home</a>
            <a href="/" class="home">Blog</a>
        </nav>
        <nav class="tagline">
            {{ with .Site.Params.inc.product_link }}<a href="{{ . }}" class="btn btn-outline">Learn More</a>{{ end }}
        </nav>
    </header>
</section>
